@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
}

:root {
  --background: #ffffff;
  --foreground: #020617;
  
  /* Borda Modo Claro: Preto com apenas 5% de opacidade (Quase invisível) */
  --border: rgba(0, 0, 0, 0.05);
  
  /* Variável para os Títulos que configuramos */
  --logo-color: #020617;
}

.dark {
  --background: #020617;
  --foreground: #ffffff;
  
  /* Borda Modo Escuro: Branco com apenas 7% de opacidade (Sutil no fundo escuro) */
  --border: rgba(255, 255, 255, 0.07);
  
  /* Variável para os Títulos no Dark */
  --logo-color: #ffffff;
}

@layer base {
  * {
    /* Garante que todas as bordas do projeto usem a cor da variável por padrão */
    border-color: var(--border);
  }
  
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}