@import "tailwindcss";

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(14.5% 0.018 256);
  --color-primary: oklch(58.8% 0.161 259);
  --color-border: oklch(92.2% 0.011 230);
}

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --primary: 221.2 83.2% 53.3%;
  --border: 214.3 31.8% 91.4%;
  --radius: 0.5rem;
}

/* O Tailwind 4 não precisa de @apply no body da mesma forma, 
   mas você pode usar classes padrão diretamente */
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}